@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    scroll-behavior: smooth;
}

.sections {
    height: 100vh;
    overflow-y: scroll;
    background-color: black;
    scroll-snap-type: y mandatory;
    scroll-snap-type: proximity;
}

.sections>.section-div {
    width: 100%;
    height: 100vh;
    background: black;
    scroll-snap-align: start;
    scroll-snap-stop: always;

    .main-nav {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 60px;
        color: yellow;

        .fname {
            font-size: 120px;
        }

        .invert {
            font-family: 'Bebas Neue', sans-serif;
            font-size: 34px;
            color: black;
            background: yellow;
            border-radius: 8px;
            margin: 20px 20px 20px 0;

            .material-symbols-outlined {
                font-size: 34px;
                font-weight: 600;
            }

            box-shadow: 0 9px #999;
        }

        .invert span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

        .invert span:after {
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

        .invert:hover span {
            padding-right: 10px;
        }

        .invert:hover span:after {
            opacity: 1;
            right: 0;
        }
    }

    .image-cl {
        color: #003135;
        background-color: yellow;
        border-radius: 20px;
        width: 90%;
    }

    .typing {
        font-size: 50px;
        background-color: black;
        color: yellow;
        width: max-content;
        -webkit-animation: typing 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation: typing 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        font-family: 'Lilita One', sans-serif;
    }

}

@-webkit-keyframes typing {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px);
        transform: translateZ(-700px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes typing {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px);
        transform: translateZ(-700px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

.section-div:nth-child(2) {
    .edu-div {
        font-family: 'Bebas Neue', sans-serif;
        background-color: aqua;
        font-size: 80px;
        border-radius: 15px;
        box-shadow: 0 9px #999;
    }

    .card-body {
        background-color: aqua;
    }

    .card-img-top {
        width: 300px;
        height: 300px;
    }

    .card-title {
        font-size: 30px;
    }

    .card-text {
        font-size: 20px;
    }

    .invert {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 34px;
        color: aqua;
        background: black;
        border-radius: 8px;
        margin: 20px 20px 20px 0;

        .material-symbols-outlined {
            font-size: 34px;
            font-weight: 600;
        }

        box-shadow: 0 9px #999;
    }

    .invert span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .invert span:after {
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .invert:hover span {
        padding-right: 10px;
    }

    .invert:hover span:after {
        opacity: 1;
        right: 0;
    }
}
